
*.sqlite
FlightMonitor/.vs/FlightMonitor/v16/.suo
FlightMonitor/.vs/FlightMonitor/v16/.suo
FlightMonitor/.vs/FlightMonitor/v16/.suo
FlightMonitor/bin/Debug/FlightMonitor.exe
*.pdb
*.cache
*.cache
*.txt
*.cache
*.cache
*.pdb
*.lref
