
*.sqlite
FlightMonitor/.vs/FlightMonitor/v16/.suo
FlightMonitor/.vs/FlightMonitor/v16/.suo
FlightMonitor/.vs/FlightMonitor/v16/.suo
FlightMonitor/bin/Debug/FlightMonitor.exe
*.pdb
*.cache
*.cache
*.txt
*.cache
*.cache
*.pdb
*.lref
/FlightMonitor/obj/Debug/ControlBar.baml
/FlightMonitor/obj/Debug/GraphsView.baml
/FlightMonitor/obj/Debug/FlightDetails.baml
/FlightMonitor/obj/Debug/Joystick.baml
/FlightMonitor/obj/Debug/MainWindow.baml
